@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 220 24% 95%;
    --foreground: 234 16% 35%;
    --card: 220 24% 95%;
    --card-foreground: 234 16% 35%;
    --popover: 220 24% 95%;
    --popover-foreground: 234 16% 35%;
    --primary: 316 72% 86%;
    --primary-foreground: 234 16% 35%;
    --secondary: 227 35% 80%;
    --secondary-foreground: 234 16% 35%;
    --muted: 227 35% 80%;
    --muted-foreground: 234 16% 45%;
    --accent: 189 70% 80%;
    --accent-foreground: 234 16% 35%;
    --destructive: 343 81% 75%;
    --destructive-foreground: 234 16% 35%;
    --border: 227 35% 80%;
    --input: 227 35% 80%;
    --ring: 227 35% 80%;
    --chart-1: 316 72% 86%;
    --chart-2: 189 70% 80%;
    --chart-3: 266 85% 82%;
    --chart-4: 41 86% 83%;
    --chart-5: 349 89% 87%;
    --radius: 0.5rem;
    --scrollbar-bg: #f2cdcd;
    --scrollbar-thumb: #fab387;
    --scrollbar-thumb-hover: #fab387;
    --scrollbar-width: 5px;
  }

  .dark {
    --background: 240 21% 15%;
    --foreground: 226 64% 88%;
    --card: 240 21% 15%;
    --card-foreground: 226 64% 88%;
    --popover: 240 21% 15%;
    --popover-foreground: 226 64% 88%;
    --primary: 316 72% 86%;
    --primary-foreground: 240 21% 15%;
    --secondary: 234 16% 35%;
    --secondary-foreground: 226 64% 88%;
    --muted: 234 16% 35%;
    --muted-foreground: 228 24% 72%;
    --accent: 189 70% 80%;
    --accent-foreground: 240 21% 15%;
    --destructive: 343 81% 75%;
    --destructive-foreground: 240 21% 15%;
    --border: 234 16% 35%;
    --input: 234 16% 35%;
    --ring: 240 21% 15%;
    --chart-1: 316 72% 86%;
    --chart-2: 189 70% 80%;
    --chart-3: 266 85% 82%;
    --chart-4: 41 86% 83%;
    --chart-5: 349 89% 87%;
    --scrollbar-bg: #cba6f7;
    --scrollbar-thumb: #1e1e2e;
    --scrollbar-thumb-hover: #1e1e2e;
    --scrollbar-width: 5px;
  }
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-bg);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

h1 {
  font-size: 3rem; /* Biasanya besar untuk heading utama */
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}
